
.form-control.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score-container svg {
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.score-container svg:hover {
  color: #7076f4;
}

.score-container input:checked ~ svg {
  color: #7076f4;
}

.radio-container {
  text-align: center;
  position: relative;
}

.radio-container input {
  opacity: 0;
  position: absolute;
  top: 15px;
  left: 30px;
}

.radio-container p {
  font-style: italic;
  font-weight: 300;
  font-size: 0.7rem;
  margin-top: 0.4rem;
}
