.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
}

.steps::after {
  content: '';
  width: 380px;
  border-bottom: 1px solid #ccc;
  top: 20px;
  position: absolute;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  width: 12rem;
}

.step svg {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.active {
  color: red;
  font-weight: bold;
}
