.app {
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Forms */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 5px;
}

.inputs-container {
  min-height: 20rem;
}

.form-container form {
  max-width: 40rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
  color: #777;
  font-size: 0.9rem;
}

input,
textarea {
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}

textarea {
  height: 120px;
}

/* Actions */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer;
  transition: 0.3s;
}

.actions button:hover {
  background-color: #cfcfcf;
}
