* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Barlow', Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #f9fafc;
}

p {
  color: #777;
}
